
.needs-validation{
    display:flex;
    border: 5px solid blue;
}
.container{
    display:flex;
    flex-direction: column;
    border: 5px solid blue;
    justify-content: center;
    align-items: center;
    margin:1rem;
    width:60%
}
.col-md-4{
    margin:10px;
}
.col-md-1{
    display:block;

    padding:1rem;
}